@import "page";

$side-width: 200px;

body {
}

#side {
  position: fixed;
  width: $side-width;
  #logo {
    margin-top: -$padding;
    width: $side-width;
    height: $side-width;
    display: block;
    background: white;
    @include border-radius(0, 0, $padding, $padding);
    background: white url($inovex-logo) center no-repeat;
    border: {
      width: 0 1px 1px 1px;
      color: #999;
      style: solid;
    };
    @include box-shadow(0 3px $padding white);
    
    span {
      display: none;
    }
  }
}

$page-padding: $padding * 3;
#pages {
  overflow-x: hidden; // page hack
  .page {
    padding-top: $page-padding;
    height: 500px;
    
    $boundary-padding: $side-width + $page-padding;
    $boundary-width: $width - $boundary-padding;
    .boundary {
      padding-left: $boundary-padding;
      width: $boundary-width;
    }
    
    &.with-background {
      @include shadow-hack;
      @include box-shadow(0 0px $padding #999);
      border: {
        width: 2px 0 2px 0;
        style: solid;
        color: $inovex-blue-border;
      };
      background: white;
    }
    
    div.infos {
      clear: both;
      
      h2 {
        margin-top: $padding;
      }
      
      h3 {
        color: $inovex-blue;
      }
      
      p {
        font-size: 13px;
      }
      
      div.info {
        float: left;
        margin-top: $padding * 2;
        margin-bottom: $padding * 2;
        margin-right: $padding * 2;
        width: ($boundary-width / 2) - $padding * 2;
        font-size: 13px;
      }
    }
  }
}
