<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
 _                                     _      
(_)                                   | |     
 _ _ __   _____   _______  __       __| | ___ 
| | '_ \ / _ \ \ / / _ \ \/ /      / _` |/ _ \
| | | | | (_) \ V /  __/>  <   _  | (_| |  __/
|_|_| |_|\___/ \_/ \___/_/\_\ (_)  \__,_|\___|

0.step(72,3){|i|$><<'J huhesartc  kRaeunrbo!yt'[i%25..i%25]}

-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ site.title }}</title>
    {% include header-meta.html %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
  </head>
  <body>
    {% include navigation/top.html %}
    {{ content }}
  </body>
</html>
